---
import { Icon } from "astro-icon";
import "@fontsource/outfit";
export interface Props {}
---

<ol class="mt-10 flex flex-row justify-around items-center">
  <li><a href="/" class="ml-44" aria-label="go to home page">QuickScore</a></li>
  <li>
    <ul class="flex row">
      <li>
        <a href="/" class="mr-24" aria-label="checkout lastest matchs score">
          Score
        </a>
      </li>
      <li><a href="/" aria-label="checkout lastest news">News</a></li>
    </ul>
  </li>
  <li>
    <a href="/" aria-label="my account">
      <Icon pack="mdi" name="account-circle" class="mx-44 mt-1" />
    </a>
  </li>
</ol>

<style>
  a {
    font-family: Outfit, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 24px;
  }
  [astro-icon] {
    color: #ffffff;
    width: 48px;
    height: 48px;
  }
</style>
